@import "../../../../styles/variables";
@import "../../../../styles/mixins";
body{
  margin: 0;
  padding: 0;
}
.wrapper-paint{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 90px 70px 0 70px;
}
.canvas-paint{
  background: white;
  border: 1px solid black;
}
.settings-wrapper{
  display: flex;
  justify-content: center;
  height: 100%;
  & label{
    cursor: pointer;
  }
  & input {
    width: auto;
    display: block;
    margin: 10px auto;
  }
}

.control-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
}
.canvas-wrapper{
  height: 100%;
}
.div-block-button{
  display: flex;
  flex-direction: column;
}
#pencil{
  background: black;
  width: 70px;
  height: 10px;
  margin: 10px auto;
  cursor: pointer;
}
#triangle{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 30px solid black;
  cursor: pointer;
  margin: 10px auto;
}
#circle{
  padding: 10px;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 20px;
  margin: 10px auto;
  cursor: pointer;
}
#square {
  width: 20px;
  height: 20px;
  background: black;
  margin: 10px auto;
  cursor: pointer;
}
#rectangle {
  width: 40px;
  height: 20px;
  background: black;
  margin: 10px auto;
  cursor: pointer;
}
#color{
  width: 20%;
}
#clear{
  width: 20%;
  margin: 0 auto;
  .buttonMain;
}