@import '../../../../styles/variables';
@import '../../../../styles/mixins';
@import '../../../../styles/matrix';


.container-forgotten{
  margin: 0 auto;
  &__input{
    .input;
  }
  &__button__close button{
    position: absolute;
    top:0;
    right: 0;
    padding: 5px;
    background-color: #fff;
    color: #000;
    border: 2px solid #3399ff;
    border-radius: 5px;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  &__button{
    display: flex;
    justify-content: center;
    &  button{
      .buttonMain;
    }
    & button:hover{
      .buttonMainHover;
    }
  }

}



