@import '../../../../styles/matrix';
@import '../../../../styles/variables';
@import '../../../../styles/mixins';



.settings-modal-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  position: relative;


  &__header-modal{
    & .custom-button{
      padding: 5px;
      position: absolute;
      right: 0;
    }
  }
  &__content-modal{
    display: flex;
    justify-content: center;
    padding: 10px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.reset-button{
  margin: 10px;
  padding: 10px;
}