.tab-wrapper {
  display: flex;
  justify-content: space-between;
  

  height: 30px;
  width: 200px;
  align-items: center;
  background-color: #d9e8f2;
  cursor: pointer;
  &--active {
    background-color: blue;
    color: white;
  }

    &__input{
      display: flex;
     
      width: 90%;
      border: none;
      height: 60%;

      &--active {
        background-color: blue;
        border: none;
      }
      &--mode {
        background-color: white;
        border: none;
        height: 100%;
        padding: 0;
        padding-left: 10px;
        margin-left: 0;
      }
      &--active:focus{
        outline: none;
      }
  }
  &__close-button{
    display: flex;
    width: 30px;
    height: 30px;
    align-items: flex-start;
    justify-content: center;

  }

}
