* {
  margin: 0;
  padding: 0;
}
.avatar {
  display: flex;
  flex-direction: column;
  & img {
    height: 120px;
    width: 120px;
  }
}
.photo {
  height: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../../../assets/ava.png");
}

