.admin-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 100%;
}

.admin-table-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    border: 1px solid black;
   
    
    & .admin-table-header {
        display: flex;
        width: 100%;
        border: 1px solid black;

        &__item{
            display: flex;
            width: 11%;
            justify-content: center;
            border: 1px solid black;
        }
    }

    & .admin-table-row{
        display: flex;
        width: 100%;

        &__item{
            display: flex;
            width: 11%;
            justify-content: center;
            border: 1px solid black;
        }
    } 
}
.row-scroll{
    overflow-y: auto;
}