@import '../../../../styles/matrix';
@import '../../../../styles/variables';
@import '../../../../styles/mixins';



.settings-modal-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  position: relative;


  &__header-modal{
    & .custom-button{
      padding: 5px;
      position: absolute;
      right: 0;
    }
  }
  &__content-modal{
    display: flex;
    justify-content: center;
    padding: 10px;
  }
}