@import "../../styles/variables.less";
@import "../../styles/mixins";
.account-wrapper {
  display: flex;
  height: 100vh;
}
.first-block {
 display: flex;
  flex:1;
  flex-direction: column;
}
.second-block {
  display: flex;
  flex: 2;
  flex-direction: column;
  &__chat{
    display: flex;
    flex:1;
  }
  &__game{
    display: flex;
    flex: 1;
  }
}
.my-account-form{
  display: flex;
  flex-direction: column;
  &__input{
    //padding: 10px 0 0 0;
  }
  & input{
    .input;
  }
  & label:hover{
    .labelHover;
  }
}


