// background colors
@color--01: linear-gradient(to right top, #eff2f6, #e7eef5, #ddeaf3, #d3e6f0, #c8e3ed);
@color--02: red;
@color--03: blue;
@color--04: green;
// text colors
@color--05: black;
@color--06: white;
@color--07: grey;

#header {
  --bg-header: @color--02;
  --text-color-primary-header: @color--06;
  --text-color-secondary-header: @color--07;
}
#root {
  --bg-wrapper: @color--01;
  --button-hover-color: @color--03;
  --label-hover-color:@color--03;
}