.input{
  display: block;
  padding: 5px;
  cursor: pointer;
  width: 200px;
}
.labelHover{
  color: var(--label-hover-color);
  cursor: pointer;
}
.buttonMain{
  display: flex;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  width: 100px;
}
.buttonMainHover{
  color: var(--button-hover-color);
  background: var(--bg-wrapper);
}