.menu li{
    position: relative;
    list-style: none;
    cursor: pointer;
}
.menu li:hover {
    color: blue;
}
.menu__list {
    display: flex;
}

.clicked {
    display: block;
}
.menu__list>li:hover .sub-menu__list{
    display: block;
    
}
.menu__link {
    color: black
}
.sub-menu__list {
    display: none;
    position: absolute;
    width: 100px;
    left: 0;
    top: 30;
    // padding: 20px 0px 0px 0px;
    
}
.sub-menu__list>li{
    background-color: rgba(255, 255, 255, 0.89);
}

.sub-menu__list>li:hover .sub-sub-menu__list{
    display: block;
}
.sub-menu__link {
    color: black;
    display: inline-block;
    padding: 5px 10px;
    min-width: 150px;
}
.sub-sub-menu__list {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0px 0px 0px 5px;
}
.sub-sub-menu__link {
    color: black;
    display: inline-block;
    padding: 5px 10px;
    min-width: 150px;
    
}
.sub-sub-menu__list>li{
    background-color: rgba(255, 255, 255, 0.9);
}