@import '../../../../../../styles/variables.less';
@import '../../../../../../styles/mixins.less';

.students-menu-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  
    
   
    & label:hover {
        .labelHover
      }
  
      & .container-students__input {
        .input
      }
  
      & .container-students__button {
        .buttonMain
      }
  
      & button:hover {
        .buttonMainHover
      }
  
      & .link {
        text-decoration: none;
      }
}
.control-panel-text{
  padding-top: 20px;
}