.table-caption-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.caption-id{
    width: 6%;
    text-align: center;
    border: 2px white solid
}
.caption-name{
    width: 22%;
    text-align: center;
    border: 2px white solid
}
.caption-surname{
    width: 22%;
    text-align: center;
    border: 2px white solid
}
.caption-age{
    width: 6%;
    text-align: center;
    border: 2px white solid
}
.caption-city{
    width: 22%;
    text-align: center;
    border: 2px white solid
}
.caption-actions{
    width: 22%;
    text-align: center;
    border: 2px white solid
}