@import "../../../../styles/mixins";

.my-account-info {
  display: flex;
 justify-content: center;
  flex-direction: column;
  &__values{
    //padding: 10px 0 0 0;
    & input{
      .input;
    }
    & label:hover{
      .labelHover;
    }
  }
  &__textarea textarea{
    resize: none;
    display: block;
    width: 100%;
    height: 150px;
  }
  &__textarea label:hover{
      .labelHover;
  }
  &__button button{
    .buttonMain;
  }

}
