.validation-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 60px;
}
.validation-error{
    color: red;
    font-size: 12px;
    max-width: 200px;
}
.registration-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}