@import '../../../../styles/variables.less';



.main-header {
    display: flex;
    height: @wrapperHeight - 90vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.main-navigation {
    display: flex;
    height: 40px;
    align-items: center;
    width: 100%
}
.header__control-wrapper{
    display: flex;
    width: 30%;
    align-items: flex-start;
   justify-content: space-between;
}

.logout__button, .fullscreen__button, .user__button, .back__button{
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}
.logout__button {
    background: url('../../../../../assets/logout.svg');
}
.fullscreen__button{
    background: url('../../../../../assets/full-screen-arrows.svg');
}
.user__button{
    background: url('../../../../../assets/user.svg');
}
.back__button{
    background: url('../../../../../assets/return.svg');
}

.user__button-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}