@import '../../../../styles/variables.less';
@import "../../../../styles/mixins";


.students-wrapper {
  display: flex;
  background-color: ghostwhite;
  width: 100%;
  height: @wrapperHeight - 10vh;
}

.table-wrapper{
  align-items: start;
  justify-content: center;
  height: 100%;
  flex:3;
  flex-direction: column;
  overflow-y: auto;
}

.control-panel {
 
  display: flex;
  flex:1;
  align-items: start;
  justify-content: center;
  height: 100%;
  & .validation-input input{
    .input;
  }
  & button{
    .buttonMain;
    margin: 10px 0 0 0;
  }
 
}