@import "../../styles/variables";
@import "../../styles/mixins";


.wrapper-registration {

  & nav {
    display: flex;
    justify-content: space-between;

    & .header__logo img {
      width: 40px;
      height: 40px;
      margin-left: 20px;
    }

    & .header__settings img {
      width: 40px;
      height: 40px;
    }
  }

  & .container-registration {
    display: flex;
    flex-direction: column;
    align-items: center;

    & label:hover {
      .labelHover
    }

    & .container-registration__input input{
      .input
    }

    & .container-registration__button button{
      .buttonMain;
      margin: 10px 0 10px 0;
    }

    & button:hover {
      .buttonMainHover
    }

    & .link {
      text-decoration: none;
    }
  }
}








