.table-row-input-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.row-input-id{
  width: 6%;
  text-align: center;
  border: 2px white solid
}
.row-input-name{
  width: 22%;
  text-align: center;
  border: 2px white solid
}
.row-input-surname{
  width: 22%;
  text-align: center;
  border: 2px white solid
}
.row-input-age{
  width: 6%;
  text-align: center;
  border: 2px white solid
}
.row-input-city{
  width: 22%;
  text-align: center;
  border: 2px white solid
}
.row-input-action {
  display: flex;
  justify-content: center;
  
  width: 22%;
  border: 2px white solid
}
.row-input-button {
  width: 50%;
}
.input-error{
  color: red;
}
input {
  width: 100%;
}