.chat {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  background-color: white;
  &__users {
    display: flex;
    width: 30%;
    flex-direction: column;
  }

  &__messages {
    
  }
}

.messages {
  display: flex;
    flex: 1;
    flex-direction: column;
    

  &__list {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    
  }

  &__send-block {
    width: 100%;
    display: flex;
    height: 50px;
  }
}

.message-item, .not-our-message {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 5px;
  border-radius: 1.5rem;
  padding: 10px;
  word-break: break-all;
}
.message-item {
  align-self: flex-end;
  background-color: lightblue;
}
.not-our-message {
  align-self: flex-start;
  background-color: lightgreen;
}

.input-message {
  width: 70%;

}
.button-message {
  width: 30%;
}
.users__list{
  border: 1px black solid;
  height: 100%;
  min-width: 100px;
}