@import "../../styles/mixins";
@import "../../styles/matrix";

.wrapper-authorization {

  & nav {
    display: flex;
    justify-content: space-between;

    & .header__logo img {
      width: 40px;
      height: 40px;
      margin: 0 20px 0 20px;
    }

    & .header__settings img {
      width: 40px;
      height: 40px;
    }
  }
  & .container-authorization {
    display: flex;
    flex-direction: column;
    align-items: center;

    & label:hover {
      .labelHover
    }

    & .container-authorization__input {
      .input
    }

    & .container-authorization__button {
      .buttonMain
    }

    & button:hover {
      .buttonMainHover
    }

    & .link {
      text-decoration: none;
    }
  }
  & .forgotten-password{
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  & .forgotten-password:hover{
    border-bottom: 2px solid @color--03;
  }

}










