@import "../../styles/variables.less";
@import "../../styles/mixins.less";
.main-wrapper {

    & nav {
        display: flex;
        justify-content: space-between;

        & .header__logo img {
          width: 40px;
          height: 40px;
          margin-left: 20px;
        }

        & .header__settings img {
          width: 40px;
          height: 40px;
        }
      }
}
