.control-buttons {
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  &__settings {
    width: 40px;
    height: 40px;
    background-image: url('../../../assets/gear.svg');
    background-size: 40px 40px;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    transition: all .5s;

    &:hover {
      cursor: pointer;
      transform: rotate(45deg);
    }
  }
}
