.table-caption{
  display: flex;
  justify-content: center;
  padding: 40px;
  font-size: 28px;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

}


.rows {
  display: flex;
  flex-direction: column;

  height: 100%;

}

.add-new-tab {
  font-size: 25px;
  width: 40px;
  border-radius: 20px;
  margin-left: 10px;
  background-color: #D8E6F3;
}