.table-row-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.row-id{
  width: 6%;
  text-align: center;
  border: 2px white solid;
}
.row-name{
  width: 22%;
  text-align: center;
  border: 2px white solid;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row-surname{
  width: 22%;
  text-align: center;
  border: 2px white solid;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row-age{
  width: 6%;
  text-align: center;
  border: 2px white solid;
}
.row-city{
  width: 22%;
  text-align: center;
  border: 2px white solid;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row-action {
  display: flex;
  justify-content: center;
  width: 22%;
  border: 2px white solid;
}
.row-button {
  width: 50%;
}