.content-box-conv {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
  color: white;
}

.content-box-conv input{
  width: 200px;
  height: 35px;
  background-color: #008B8B;
  color: white;
  text-align: center;
  padding: 7px;
  border-bottom: 2px solid #008B8B;
  border-radius: 50px;
  transition-duration: 0.8s;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.content-box-conv select {
  display: flex;
  flex-direction: row;
  margin: 5px 80px 40px;
  background-color: honeydew;
  height: 35px;
  text-align: center;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid honeydew;
  width: 70px;
}

.wrapper-main-conv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.converter-input::placeholder {
  color: white;
}
