@import '../../styles/matrix';
@import '../../styles/mixins';
@import '../../styles/variables';

.modal{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__header-modal{
    display: flex;
    justify-content: center;
  }
  & input {
    .input
  }
  & label:hover {
    .labelHover
  }
}